<main>
  <div>
    <h2>User Info</h2>
    <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>

    <table>
      <tbody>
        <tr></tr>
        <tr>
          <th>name</th>
          <th><%= current_user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= current_user.introduction %></th>
        </tr>

      </tbody>
    </table>
    <p><%= link_to "Edit", edit_user_path(current_user) %></p>

  </div>

  <div>
    <h2>New book</h2>
    <%= form_with model: @book, local:true do |f| %>

    <h4>title</h4>
    <%= f.text_field :title, autocomplete: 'disabled' %>

    <h4>opinion</h4>
    <%= f.text_area :body, autocomplete: 'disabled' %>

    <%= f.submit 'Create Book' %>

    <% end %>
  </div>



  <div>
    <h2>Book detail</h2>

    <table>
      <tbody>
        <tr>
          <td><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "40x40" %></td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
        </tr>
      </tbody>

    </table>
  </div>




</main>